/*CSS file for chat example */

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
body { 
  font: 13px Helvetica, Arial; 
  color: black; 
}
button { 
  width: 10%; 
  background: rgb(130, 224, 255); 
  padding: 10px; 
  font: 15px Helvetica, Arial; 
  border-radius: 5px; 
}
form input { 
  border: solid black 1px; 
  padding: 10px; width: 90%; 
  border-radius: 5px; 
}
h1 { 
  font: 22px Helvetica, Arial; 
  color: white; 
  margin: 1%; 
}
ul { 
  margin: 2% 5%; 
  background-color: white; 
}

.button { 
  text-align: center; 
  clear: right; 
  width: 80%; 
  font-size: 14px; 
  margin: 1%; 
  border-radius: 5px; 
}
.form { 
  background: white; 
  padding: 3px; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}
.input {
  margin: 3% 0 1% 0; 
  width: 90%; 
  font-size: 22px; 
  text-align: center; 
  border-radius: 5px; 
}
.ul { 
  list-style-type: none; 
  color: black; 
  font: 15px Helvetica, Arial; 
  text-align: left; 
  padding: 0 2%; 
}
.sidebar { 
  float: right; 
  width: 19%; 
  text-align: center; 
  background-color: #B3B3B3; 
  margin: 0 .2% 0 0; 
  border-radius: 8px; 
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}
#messages li { 
  padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
  background: #eee; 
}